## Create an env that looks like this!

####
## Region where the DB is hosted. Can leave this be.
AWS_REGION=us-west-2

####
## Access key for DB
AWS_ACCESS_KEY_ID=someString

####
## Secret key for DB
AWS_SECRET=longRandomString

#### 
## URL of the DynamoDB that we are using. Probably leave this as is for local development
## If you're NOT using compose and want to spin up a db for quick testing purposes, run
## docker run -p 8000:8000 amazon/dynamodb-local
DB_URL=http://localhost:8000

#### 
## Directory of where you would like db data to be persisted
## This is used by the docker-compose
DB_HOST_PERSIST_DIR=/Users/username/dir/dir/db

####
## Microsoft Graph Variables
OAUTH_APP_ID=FAKE_ID # change
OAUTH_APP_PASSWORD=FAKE_PASSWORD #change
OAUTH_REDIRECT_URI=http://localhost:8080/callback
OAUTH_SCOPES='profile offline_access user.read user.read.all group.read.all'
OAUTH_AUTHORITY=https://login.microsoftonline.com/common
OAUTH_ID_METADATA=/v2.0/.well-known/openid-configuration
OAUTH_AUTHORIZE_ENDPOINT=/oauth2/v2.0/authorize
OAUTH_TOKEN_ENDPOINT=/oauth2/v2.0/token